     body {
    font-family: Helvetica;
    margin: 0;
   }
  .wrapper {
    margin: 0 auto;
    width: 80%;
   }
  .logo,
  .menu {
    display: inline-block;
   }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
  .logo {
  position: relative;
  padding: 40px 0 40px 0;
   }
   .menu__item {
  padding: 0 13px;
   }
   .menu__item:last-child {
  padding-right: 0;
   }
  .title: {
    font-family:'Roboto', sans serif;
   }
